.title{
    height: 10vh;
    font-size: 3em;
    text-align: center;
    width:100vw;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
    top:0.3em;
}