.container{
    position: absolute;
    top:-5em;
    left:4em;
    background-color: bisque;
    font-size: 1rem;
    padding: 2em 1em 1em 1em;
    border-radius: 4%;
    box-shadow : 5px 5px 10px grey;
    animation: appear 0.3s forwards; 
    line-height: 1.7em;   
}
@keyframes appear {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(110%);
    } 
}
.exit{
    position: relative;
    margin: auto;
    background-color: aquamarine;
    width:10em;
    border-radius: 30%;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:1050px) {
    .container{
        position:absolute;
        top:-10em;
        left:0;
    }
}